<!doctype html>
<html lang="en">
<head>
    <title>SaltyStats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SaltyStats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/char_stats">Char Stats</a>
                </li>
            </ul>
        </div>
    </nav>
      <div class="jumbotron" id="data">
        <div class="container">
            <h1 class="display-4"> There have been <span style="color: #28a745"><strong>{{ "{:,}".format(count) }}</strong></span> recorded matches! </h1>
        </div>
      </div>
      <div class="container align-content-center" id="content">
          <h2>NEXT</h2> 
          <div class="row">
              <div class="col-sm">
                <a href="/char_stats/{{ next_match.red_name }}" class="btn btn-danger" role="button">{{ next_match.red_name }}</a>
                <div hx-get="/char_stats/{{ next_match.red_name }}" hx-trigger="load">   
                </div>
              </div>
              <div class="col-sm">
                  <p><strong>VERSUS</strong></p>
                  <p> {{ next_match.tier }} </p>

              </div>
              <div class="col-sm">
                <a href="/char_stats/{{ next_match.blue_name }}" class="btn btn-primary" role="button">{{ next_match.blue_name }}</a>
                <div hx-get="/char_stats/{{ next_match.blue_name }}" hx-trigger="load">   
                </div>
              </div>
          </div>
          <br><br>

              <h4> Last match</h4> recorded was <span style="color: #28a745"><strong>{{ latest_match.date }}</strong></span>
              <h6>WINNER: <i><span style="color: {{ win_color }}"><strong>{{ latest_match.winner }}</strong></span></i></h6>

          <div class="row">
              <div class="col-sm">
                  <a href="/char_stats/{{ latest_match.red_name }}" class="btn btn-danger" role="button">{{ latest_match.red_name }}</a>
              </div>
              <div class="col-sm"  >
                  <strong>VERSUS</strong><br><br>
              </div>
              <div class="col-sm">
                  <a href="/char_stats/{{ latest_match.blue_name }}" class="btn btn-primary" role="button">{{ latest_match.blue_name }}</a>
              </div>
          </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>